
body {
    font-family: Verdana,sans-serif;
    margin: 0;
    background-image: url(../pics/dice.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Navbar */
 .navbar {
    background-color: #530000;
    height: 60px;
}

.navbar li a{
    font-size: 20px;
    margin: 0 10px;
} 

/* Home */
.container {
    display: flex;
    padding: 100px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.9);
}
.box {
    display: block;
    width: 70%;
}


.welcome {
    color: #530000;
}

.section {
    margin-top: 150px;
    text-align: center;
}
.section img {
    margin-top: 50px;
}
.section ul {
    list-style: none;
}