body {
  margin: 0;
  font-family: "Indie Flower", cursive;
  text-align: center;
}

.head {
  padding: 50px 150px;
  height: 60px;
  right: 300px;
}
.name {
  display: block;
  position: absolute;
  font-size: 1em;
  color: rgb(53, 53, 53);
  line-height: 0.15;
  margin: 0;
  text-shadow: 0.1em 0.2em 0.3em #a8a8a8;
  margin: 0;
}

.name h1::first-letter {
  font-size: 2em;
}

.bigSpade img {
  display: block;
  position: absolute;
  left: 300px; 
  height: 80px;
  color: #0088aaff;
}

.navbar {
  font-size: 1.2rem;
  font-weight: 800;
  background-color: rgb(141, 204, 219);
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  margin-top: 00px;
}

.box1 {
  margin: auto;
}

.navbarSpades {
  height: 30px;
  padding: 0 1.5em;
}

.box2 {
  margin-left: auto;
  list-style: none;
  display: flex;
  margin: 0px;
}

.box2 li {
padding: 10px 0;
}

.box2 a {
  color: white; 
  text-decoration: none;
  padding: 20px  40px;
}

.box2 a:hover {
  background-color: #414141;
}

.active {
  background-color: #0088aaff;
}

.section {
font-size: 30px;
padding: 100px 0;
}

.sectionSpade {
  height: 60px;
}

#profile {
  margin-top: 0;
  border: none;
  width: 200px;
  border-radius: 50%;
}

p {
  font-size: 25px;
}

.circleImage {
  width: 200px;
  margin-top: 100px;
}

.projects {
  display: flex;
  justify-content: center;
 }

.project {
  display: block;
  margin-top: 100px;
  margin: 100px 5% 0;
}

.projectImage {
  margin: auto;
  width: 200px;
  height: 458px;
  border-radius: 1%;
  border: solid black;
}

em {
  font-size: 20px;
}

.contact {
  color: #4d4d4d;
  font-size: 30px;
}

input {
  margin: 10px;
  padding: 15px;
}

.message {
  display: block;
  margin: auto auto;
  border-radius: 10px; 
  padding: 20px;
  font-family: arial;
}
#button {
  margin-bottom: 200px;
  border-radius: 5px;
  padding: 10px;
}

button:hover {
  background-color: #404040;
  color: white;
}


@media (max-width: 970px) {

  body {
    margin: 0;
    width: 106%;
  }

  .navbar {
    display: flex;
    width: 100%;
    top: -1px;
  }

  .box1 {
   display: none; 
  }

  .box2 {
    display: flex;
    float: left;
    width: 100%;
    justify-content: center;
    font-size: 4vw;
    padding: 0;
  }

  .box2 a {
  padding: 20px 5vw;
  }

  .section {
    font-size: 6vw;
  }

  .sectionSpade {
    display: flex;
    margin: auto;
    width: 10%;
  }

  p {
    font-size: 15px;
  }
  
  .circleImage {
    margin-top: 80px;
  }

  .projects {
    flex-wrap: wrap;
    flex-direction: column;
  }
 .projectImage {
  height: 30vw;
  width: 20vw;
 }

 .message {
width: 300px;
 }
}