* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Indie Flower", cursive;
  text-align: center;
  color: rgb(55, 55, 55);
}

/* Navbar */
.header {
  padding: 50px 150px 100px;
  height: 0px;
  right: 300px;
  opacity: 0;
}

.name {
  display: block;
  position: absolute;
  font-size: 1em;
  color: rgb(53, 53, 53);
  line-height: 0.15;
  margin: 0;
  text-shadow: 0.1em 0.2em 0.3em #a8a8a8;
}

.name h1::first-letter {
  font-size: 2em;
}

.bigSpade img {
  display: block;
  position: absolute;
  left: 300px;
  height: 80px;
  color: #0490b3;
}
.rotation {
  transform: rotateY(360deg);
  transition: 5s;
}

.navbar {
  background-image: linear-gradient(0deg, #0490b3, #8dccdbff);
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1000;
}

ul {
  list-style: none;
  display: flex;
  margin: 0px;
  float: right;
}

ul li {
  padding: 10px 0;
}

ul a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px 60px;
}

ul a:hover {
  background-color: #414141;
}

.active {
  background-color: #0490b3;
}

/* Home */

.section:nth-child(n + 2) {
  font-size: 30px;
  padding: 100px 0;
}

.sectionSpade {
  height: 60px;
  animation-name: animation;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 3s;
}
@keyframes animation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

#profile {
  margin-top: 0;
  border: none;
  border-radius: 50%;
}

p {
  font-size: 25px;
  margin: 20px;
}

.introIm {
  height: 100px;
  margin: 10px 0;
}
.languageIm {
  width: 100px;
  margin: 100px 0;
}
.libraryIm {
  height: 100px;
  margin: 10px 0;
}

.projects {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  display: block;
  margin-top: 100px;
  margin: 100px 5% 0;
}

.projectImage {
  margin: auto;
  width: 100px;
  border-radius: 1%;
  border: solid rgb(206, 206, 206);
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
}
.projectImage:hover {
  width: 150px;
}

em {
  font-size: 20px;
}

.contact {
  color: #4d4d4d;
  font-size: 30px;
}

input {
  margin: 20px;
  padding: 5px;
}

.message {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-family: arial;
}
button {
  color: rgb(255, 255, 255);
  background-color: #0490b3;
  margin: 50px auto 200px;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 30px;
  -webkit-transition: padding 0.5s; /* For Safari 3.1 to 6.0 */
  transition: padding 0.5s;
}

button:hover {
  background-color: rgb(0, 99, 124);
  padding: 10px 50px;
  color: white;
}

/* Phone responsive */
@media screen and (max-width: 970px) {
  .bigSpade img {
    left: 50px;
  }

  .name {
    left: 150px;
  }

  .navbar {
    margin-top: 100px;
    font-size: 1.5em;
    display: flex;
  }

  ul {
    padding: 0;
    margin: 0 auto;
  }
  li {
    padding: 0;
  }

  ul a {
    padding: 10px 3vw;
  }

  #profile {
    width: 8em;
  }

  .section {
    font-size: 15px;
    padding: 10px 0;
    margin: 30px auto;
  }

  .sectionSpade {
    display: flex;
    margin: 0 auto;
    height: 20px;
  }

  p {
    font-size: 1em;
  }

  .introImage {
    height: 50px;
    margin: 20px 0;
  }

  .projects {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .project {
    margin: 10px 0;
  }
  .projectImage {
    position: relative;
    height: 30vw;
    width: 20vw;
  }

  /* .hiddenImage {
  position: absolute;
  left: -10px;
  height: 30vw;
  padding: 20vw;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
 } */

  .projectImage:hover {
    opacity: 0;
  }

  .contact {
    font-size: 15px;
  }
  .message {
    width: 200px;
    height: 80px;
  }
  button:hover {
    padding: 10px 50px;
  }

  footer span {
    font-size: 10px;
  }
}
