/* Essentials */
.margin-top-100 {
  margin-top: 100px;
}
.margin-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.center {
  text-align: center;
}

/* Structure */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  background-color: rgb(0, 0, 0);
}

.header {
  top: 0;
  width: 100%;
  padding-bottom: 5px;
  background: black;
  color: #d3d3d3;
  text-align: center;
}

h1 {
  font-size: 6vw;
  margin: 0;
  padding: 20px;
}

h2 {
  font-size: 2vw;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.80;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.bgimg-1 {
  min-height: 900px;
  background: url("https://pmcvariety.files.wordpress.com/2013/09/hayao-miyazaki.jpg?w=1000&h=563&crop=1") no-repeat #080808;
}

.bgimg-2 {
  min-height: 400px;
  background: url("https://ca-times.brightspotcdn.com/dims4/default/c07cffb/2147483647/strip/true/crop/2045x1363+2+0/resize/1680x1120!/quality/90/?url=https%3A%2F%2Fca-times.brightspotcdn.com%2Fdc%2Fd6%2F7c77ace464469349e084ac0c876e%2Fla-et-hayao-miyazaki-films-pictures-006") no-repeat #080808;
}

.bgimg-3 {
  min-height: 400px;
  background: url("https://video-images.vice.com/_uncategorized/1491910102114-Miyazki-young.png") no-repeat #080808;
}

.bgimg-4 {
  min-height: 400px;
  background: url("https://cdn.japantimes.2xx.jp/wp-content/uploads/2019/04/n-miyazaki-c-20190420.jpg") no-repeat #080808;
}

.text-block {
  position: relative;
  float: center;
  color: #d3d3d3;
  background-color: #171717;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 20px #a5a5a5;
  min-width: 50%;
}

.long {
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.main {
  font-size: 15px;
  margin-left: 20%;
  margin-right: 20%;
}

a {
  color: #00638e;
}

.btn {
  background: #0087b8;
  border-radius: 10%;
  border: none;
  height: 30px;
  color: white;
}

.filmImage {
  display: block;
  position: relative;
  width: 150px;
  max-width: 10%;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 6px 50px #a5a5a5;
}
.filmImage:hover {
  animation-name: dance;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes dance {
  0% {
    box-shadow: 0 1px 20px white;
  }
  25% {
    transform: rotate(5deg);
    box-shadow: 0 6px 80px white;
  }
  50% {
    box-shadow: 0 6px 20px white;
  }
  75% {
    transform: rotate(-5deg);
    box-shadow: 0 6px 80px white;
  }
  100% {
    box-shadow: 0 6px 20px white;
  }
}

.rightImages {
  float: right;
  margin-right: 5%;
}

.leftImages {
  float: left;
  margin-left: 5%;
}

footer {
  padding-bottom: 30px;
}

@media (max-width: 800px) {
  .backgroundImage {
    width: 120%;
    margin-left: -10%;
  }
  .btn {
    padding: 1px;
    font-size: 10px;
  }
  h1 {
    font-size: 20px;
    margin: 0;
  }
  h2 {
    font-size: 13px;
    margin: 5px;
  }
  .main {
    font-size: 12px;
  }
  .filmImage {
    max-width: 30%;
    float: none;
    margin: 10px auto;
  }
}

