*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  align-items: center;
  background-color: rgb(204, 141, 83);
}

.player {
  margin: 100px;
  max-width: 900px;
  position: relative;
  font-size: 0;
  overflow: hidden;
  border: 5px solid rgba(128, 128, 128, 0.2);
}

.player_video {
  width: 100%;
}

.player_button {
  font-size: 20px;
  width: 70px;
  height: 30px;
  text-align: center;
  max-width: 50px;
  outline: 0;
  padding: 0;
  border: 0;
  line-height: 0.8;
  cursor: pointer;
}

.player_slider {
  width: 60px;
  height: 30px;
}

.player_controls {
  display: flex;
  position: absolute;
  bottom: 5px;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
}

.player:hover .player_controls {
  transform: translateY(0);
}

.player:hover .progress {
  height: 15px;
}

.player_controls > * {
  flex: 1;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
  cursor: ew-resize;
}

.progress_filled {
  width: 50%;
  background: green;
  flex: 0;
  flex-basis: 50%;
}
