body {
  margin: 0;
  font-family: "Indie Flower", cursive;
  text-align: center;
  color: rgb(55, 55, 55);
}

.head {
  padding: 50px 150px;
  height: 60px;
  right: 300px;
}
.name {
  display: block;
  position: absolute;
  font-size: 1em;
  color: rgb(53, 53, 53);
  line-height: 0.15;
  margin: 0;
  text-shadow: 0.1em 0.2em 0.3em #a8a8a8;
  margin: 0;
}

.name h1::first-letter {
  font-size: 2em;
}

.bigSpade img {
  display: block;
  position: absolute;
  left: 300px; 
  height: 80px;
  color: #0088aaff;
}

.navbar {
  font-size: 1.2rem;
  font-weight: 800;
  background-image: linear-gradient(0deg, #0088aaff, #8dccdbff);
  overflow: hidden;
  position: sticky;
  top: 0;
}

.box1 {
  margin: auto;
}

.navbarSpades {
  height: 30px;
  padding: 0 1.5em;
}

ul {
  list-style: none;
  display: flex;
  margin: 0px;
  float: right;
}

ul li {
  padding: 5px 0;
}

ul a {
  color: white; 
  text-decoration: none;
  padding: 20px  40px;
}

ul a:hover {
  background-color: #414141;
}

.active {
  background-color: #0088aaff;
}

.section {
font-size: 30px;
padding: 100px 0;
}

.sectionSpade {
  height: 60px;
  border: black;
}

#profile {
  margin-top: 0;
  border: none;
  width: 200px;
  border-radius: 50%;
}

p {
  font-size: 25px;
  margin: 20px;
}

.introImage {
  height: 150px;
  margin: 50px 0;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 }

.project {
  display: block;
  margin-top: 100px;
  margin: 100px 5% 0;
}

.projectImage {
  margin: auto;
  width: 100px;
  border-radius: 1%;
  border: solid rgb(206, 206, 206);
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
}
.projectImage:hover {
width: 150px;
}

em {
  font-size: 20px;
}

.contact {
  color: #4d4d4d;
  font-size: 30px;
}

input {
  margin: 10px;
  padding: 15px;
}

.message {
  display: block;
  margin: 5px auto;
  border-radius: 10px; 
  font-family: arial;
}
button {
  color: #414141;
  margin-bottom: 50px;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  -webkit-transition: padding 0.5s; /* For Safari 3.1 to 6.0 */
  transition: padding 0.5s;
}

button:hover {
  background-color: #7c7c7c;
  padding: 16px;  
  color: white;
}


@media (max-padding: 970px) {

  body {
    margin: 0;
    padding: 100%;
  }
  
  .head {
    padding: 50px;
  }
  
  .bigSpade img {
    left: 200px;
  }
  
  .navbar {
    display: flex;
    padding: 100%;
    font-size: 0.6em;
  }
  
  .box1 {
   display: none; 
  }

  ul {
    display: flex;
    float: left;
    padding: 100%;
    justify-content: center;
    font-size: 1em;
    padding: 0;
  }
  li {
    padding: 0;
  }
  
  ul a {
    padding: 10px 30px;
  }
  
  .section {
    font-size: 1em;
    padding: 10px 0;
  }

  .sectionSpade {
    display: flex;
    margin: auto;
    padding: 1em;
  }

  p {
    font-size: 1em;
  }
  
  .introImage {
    height: 50px;
    margin: 20px 0;
  }
  
  .projects {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .project {
    margin: 10px 0;
  }
  .projectImage {
   position: relative;
    height: 30vw;
    padding: 20vw;
 }

 .hiddenImage {
  position: absolute;
  left: -10px;
  height: 30vw;
  padding: 20vw;
  /-webkit-transition: opacity 1s ease-in-out;
  /-moz-transition: opacity 1s ease-in-out;
  /-o-transition: opacity 1s ease-in-out;
  /transition: opacity 1s ease-in-out;
 }
 .projectImage:hover {
  opacity:0;
 }

 .contact {
   font-size: 15px;
 }
 .message {
  padding: 200px;
  height: 80px;
 }

  span {
    font-size: 10px;
  }
}
