body {
    background-image:linear-gradient(#a7cfdf, #23538a );
    margin: 0 10px;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS';
}

nav {
    padding: 10px 2%;
    height: 50px;
}

ul {
    text-align: right;
}

#logo {
    width: 200px;
    float: left;
}

li {
    display: inline;
    list-style-type: none;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 800;
}

li a {
    padding: 20px;
    text-decoration: none;
    color: #01426b;
}

li a:hover {
    color: white;
    background-color: #6898ac
}

.flex-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;
    margin: 80px 5vw;
    align-items: center;
}

.leftSide {
    flex-basis: 20%;
    float: left;
}

.main {
    flex-basis: 50%;
    float: left;
    
}
.bigMessage{
    font-size: 3em;
    text-shadow: 1px 1px 5px black;
}

.rightSide {
    flex-basis: 20%;
    float: right;
}

form {
    background: rgba(255, 255, 255, 0.15);
}
input {
    margin: 10px;
}
button {
    display: block;
    margin: 10px auto;
    border: none;
    cursor: pointer;
    background-color: rgb(85, 163, 85);
    color: white;
    width: 100px;
    padding: 10px;
}
span {
    font-size: 20px;
fill: gray;
}

footer {

}