

.grid-container {
    display: grid;
    grid-template-areas:
        'hd hd hd'
        'lf mn rg'
        'ft ft ft';
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    text-align: center;
    font-family: 'Trebuchet MS';
}

.header {
    grid-area: hd;
    background-color: #6b036e;
    color: #e099e2;
}

.leftSide {
    grid-area: lf;
}

.main {
    grid-area: mn;
}

.rightSide {
    grid-area: rg;
}

.footer {
    grid-area: ft;
}

#spade {
    height: 50px;
}