body {
  position: block;
  font-family: "Franklin Gothic Medium";
  font-size: 4rem;
  align-content: center;
  justify-content: center;
  background: black;
  background-image: url("drums.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
}

#r {
  position: absolute;
  top: 10%;
  left: 20vw;
}

#d {
  position: absolute;
  top: 25%;
  left: 15vw;
}

#v {
  position: absolute;
  top: 60%;
  left: 20vw;
}

#y {
  position: absolute;
  left: 46%;
  top: 10%;
}

#h {
  position: absolute;
  left: 46%;
  top: 30%;
}

#n {
  position: absolute;
  left: 46%;
  top: 50%;
}

#space {
  position: absolute;
  left: 44%;
  top: 70%;
  width: 200px;
}

#i {
  position: absolute;
  top: 10%;
  right: 20vw;
}

#m {
  position: absolute;
  right: 20vw;
  top: 60%;
}

.key {
  display: block;
  border: 5px solid gray;
  border-radius: 5px;
  padding: 1rem;
  transition: all 0.07s;
  width: 100px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 5px black;
}

.playing {
  animation-name: pop;
  animation-duration: 1s;
  -webkit-animation-name: pop;
  -webkit-animation-duration: 1s;
}
@keyframes pop {
  0%,
  100% {
  }
  50% {
    transform: scale(1.2);
    border-color: white;
    box-shadow: 0 0 30px white;
  }
}

span {
  font-size: 1rem;
  display: block;
}

@media screen and (max-width: 1110px) {
  body {
    font-size: 1.5rem;
  }
  .key {
    width: 40px;
    padding: 2px;
  }
  span {
    font-size: 0.6rem;
  }
  #space {
    left: 30%;
    width: 120px;
  }
}
